<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>SnowballBoost</string>
	<key>CFBundleIdentifier</key>
	<string>com.snowballboost.driver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SnowballBoost</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>NSHumanReadableCopyright</key>
	<string>No rights reserved.</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>B4A9CF01-2E3D-4C7A-9F21-5B6C7D8E9F00</key>
		<string>SnowballBoostDriver_Create</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>443ABAB8-E7B3-491A-B985-BEB9187030DB</key>
		<array>
			<string>B4A9CF01-2E3D-4C7A-9F21-5B6C7D8E9F00</string>
		</array>
	</dict>
</dict>
</plist>
